.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: #00003a;
    color: yellow;
    margin-bottom: 20px;
}

.Header h1 {
    padding-left: 10px;
}

.Header h4 {
    margin: 0;
    padding: 0;
}

.Header button {
    font-size: 10px;
    border-radius: 3px;
    border: 1px ridge red;
}

.Header a {
    padding: 5px 10px;
    text-decoration: none;
    font-size: 25px;
    color: azure;
}

.Header a[class='active'] {
    color: yellow;
}
